:root {
  --cinza: #F2A649;
  --vermelha: #e93d50;
  --laranja: #F24F13;
  --branca: #fff;
  --luz: #F2B950;
  --blue: #5397A6;
  --bluedark: #1F3473;
  --black: #0D0D0D;
}

body {
  align-items: center;
  background-image: url('../images/teste.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  min-height: 100vh;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.logo-trompete{
  max-width: 100px;
  max-height: 100px;
}
h1 {
  color: var(--bluedark);
  text-shadow: 2px 2px 2px var(--branca);
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.teclado {
  border-radius: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: #80BFB9;
  border-radius: 50%;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--bluedark);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  text-shadow: 1px 1px 1px var(--branca);
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--bluedark);
  border: 3px solid  var(--luz);
  color: var(--vermelha);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

